<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <title>Wishlist</title>
</head>
<body class="awesome">
    <h1>Det funkar!</h1>
    
    <script src="/dist/bundle.js" /></script>
</body>
</html>