<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <title>Wishlist</title>
    <link rel="stylesheet" href="/dist/main.css" />
</head>
<body class="awesome">
	<div class="container" id="main">
		@RenderBody()
	</div>
    <script src="/dist/bundle.js" /></script>
</body>
</html>