<h1>Logga in</h1>

@if (ViewBag.Error != null) {
	<div class="alert alert-danger" role="alert">
		<strong>Fel</strong> @ViewBag.Error
	</div>
}


<form method="post">
	<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
	
	<fieldset class="form-group">
		<label for="username">Användarnamn</label>
		<input type="text" class="form-control" name="username" placeholder="Ange ditt användarnamn" />
	</fieldset>
	
	<fieldset class="form-group">
		<label for="password">Lösenord</label>
		<input type="password" class="form-control" name="password" />
	</fieldset>
	
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Logga in</button>
	</div>
</form>